@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans';
    background: url(background.svg);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    background-color: white;
}

nav ul {
    display: flex;
    list-style: none;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.login-illustration {
    position: absolute;
    width: 426.56px;
    height: 209.98px;
    left: 153px;
    bottom: 100px;
}

.welcome-back {
    position: absolute;
    width: 386px;
    height: 28px;
    left: 148px;
    top: 212px;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.sub-text {
    position: absolute;
    width: 500px;
    height: 65px;
    left: 148px;
    top: 270px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.login-form {
    position: absolute;
    width: 440px;
    height: 437px;
    left: 850px;
    top: 209px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.1);
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px;
}

.login-form form label,
.login-form form input {
    margin: 5px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 43px;
}

.label {
    font-size: 14px;
    line-height: 19px;
}

.login-form input {
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    border-radius: 4px;
    width: 372.07px;
    height: 42.92px;
}

.button {
    width: 154.1px;
    height: 49.91px;
    background: #6C63FF;
    border-radius: 4px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.forgot-password {
    width: 114px;
    height: 19px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FC8651;
    align-self: center;
    text-decoration: none;
}

.signup-form {
    position: absolute;
    width: 440px;
    height: 529px;
    left: 850px;
    top: 209px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.1);
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px;
}

.signup-form form label,
.signup-form form input {
    margin: 5px;
}

.signup-form input {
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    border-radius: 4px;
    width: 372.07px;
    height: 42.92px;
}

.password-hint {
    width: 370.05px;
    height: 36.93px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.63);
    margin: 5px;
}